@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

li, a, button, h1, h3, div, input{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #edf0f1;
    text-decoration: none;
    border: none;
    margin: 0;
}

input{
    margin-left: 5px;   
}

input:hover{
    transition: ease;
    background-color: #3b3b49;
}
ul {
    list-style: none;
    margin: 0;
}

ul button{
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.in_page_actions{
    display:-webkit-inline-flex;
}


.content {
    display: flex;
    justify-content: center;
}

.center_action{
    display: block;
}

fieldset{
    display:-webkit-flex;
    margin: 10px;
}

form{
    display:flex;
}


.button_menu {
    padding-top: 10%;

    align-content: center;
}

.btn_custom {
    font-size: larger;
}

header{
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    padding: 5px 10%;
}

body{
    margin: auto;
    display: block;
}

a .logo{
    justify-self:flex-start;
    margin-left: 30px;
    cursor: pointer;
    margin-right: auto;
    padding: 5px;
}

.page_references{
    margin-left: auto;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all .3s ease 0s;
}

.nav_links li a:hover {
    color: #edf0f1;
}

button, fieldset  #adicionar{
    padding: 9px 25px;
    background-color: rgba(155, 50, 50, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease 0s;
    margin-left: 10px;
}

fieldset{
    display: grid;
    justify-content: center;
}

button:hover{
    background-color: rgba(155, 50, 50, .8);
}

button a:hover {
    color: #edf0f1;
}

.body_list{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}